rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Regla general para la mayoría de las colecciones:
    // Permite leer y escribir a cualquier usuario que haya iniciado sesión.
    match /ot-categories/{id} {
      allow read, write: if request.auth != null;
    }
    match /ot-statuses/{id} {
      allow read, write: if request.auth != null;
    }
    match /services/{id} {
      allow read, write: if request.auth != null;
    }
    match /collaborators/{id} {
      allow read, write: if request.auth != null;
    }
    match /vehicles/{id} {
      allow read, write: if request.auth != null;
    }
    match /gantt-charts/{id} {
      allow read, write: if request.auth != null;
    }
    match /suggested-tasks/{id} {
      allow read, write: if request.auth != null;
    }
    match /report-templates/{id} {
      allow read, write: if request.auth != null;
    }
    match /submitted-reports/{id} {
      allow read, write: if request.auth != null;
    }
    match /work-orders/{id} {
      allow read, write: if request.auth != null;
    }

    // Regla para la información de la empresa
    match /settings/companyInfo {
        allow read, write: if request.auth != null;
    }
    
    // Regla para la colección de usuarios
    match /users/{userId} {
      // Cualquier usuario autenticado puede leer la lista de usuarios
      allow read: if request.auth != null;
      // Solo el propio usuario o un Admin pueden actualizar/borrar su perfil
      allow write: if request.auth.uid == userId || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Admin';
    }
  }
}