
rules_version = '2';

// Service Rules
service firebase.storage {
  // Cloud Storage Bucket
  match /b/{bucket}/o {
    // Allow public read access to company logos
    match /company_logos/{allPaths=**} {
      allow read;
      allow write: if request.auth != null; // Allow write only for authenticated users
    }
  }
}
