
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permite la lectura de cualquier archivo a cualquier usuario.
    match /{allPaths=**} {
      allow read;
    }
    
    // Permite la escritura (subida de archivos) en la carpeta 'company_logos'
    // únicamente a usuarios que estén autenticados.
    match /company_logos/{allPaths=**} {
      allow write: if request.auth != null;
    }
  }
}
