
@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.ticker-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 3.5rem; /* 56px */
  box-sizing: content-box;
}

.ticker {
  display: inline-flex;
  height: 3.5rem; /* 56px */
  line-height: 3.5rem; /* 56px */
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 800s; 
}

.ticker__item {
  display: inline-block;
  padding: 0 4rem;
  font-size: 1.25rem; /* 20px */
  font-weight: 600;
  color: hsl(var(--primary-foreground));
}

.ticker__item::after {
    content: "•";
    margin-left: 4rem;
}
